<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.boozy">

    <!-- Permissions pour la localisation -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Boozy"
        tools:targetApi="31">
        <activity
            android:name=".ui.order.HistoriqueActivity"
            android:exported="false" />
        <activity
            android:name=".ui.delivery.ModifierProfilLivreurActivity"
            android:exported="false" />
        <activity
            android:name=".ui.delivery.ProfilLivreurActivity"
            android:exported="false" />
        <activity
            android:name=".ui.client.ModifierProfilClientActivity"
            android:exported="false" />
        <activity
            android:name=".ui.delivery.LivreurHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.SuiviCommandeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.order.CommandeEnCoursActivity"
            android:exported="false" />
        <activity
            android:name=".ui.client.PaiementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.shop.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.client.ProfilClientActivity"
            android:exported="false" />
        <activity
            android:name=".ui.client.ClientHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterClientActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SelectionProfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.AuthChoiceActivity"
            android:exported="false"
            android:theme="@style/Theme.Boozy" />
        <activity
            android:name=".ui.shop.ShopDetailActivity"
            android:exported="true" />

        <!-- Activité demarrage -->
        <activity
            android:name=".ui.home.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>